*{margin:0;padding:0;box-sizing:border-box;}
body{background:#080808;color:#fff;font-family:'Barlow',sans-serif;-webkit-font-smoothing:antialiased;}
a{color:inherit;text-decoration:none;}
::-webkit-scrollbar{width:4px;}
::-webkit-scrollbar-thumb{background:#E8232A;border-radius:2px;}
